# Catppuccin Palette v0.2.0

{{#each flavors}}
<details open>
<summary>{{titlecase name}}</summary>
<table>
	<tr>
		<th></th>
		<th>Labels</th>
		<th>Hex</th>
		<th>RGB</th>
		<th>HSL</th>
	</tr>
    {{#each colors as | color colorName |}}
    <tr>
        <td><img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/palette/circles/{{../name}}_{{colorName}}.png" height="23" width="23"/></td>
        <td>{{titlecase colorName}}</td>
        <td><code>#{{color}}</code></td>
        <td><code>{{rgb color}}</code></td>
        <td><code>{{hsl color}}</code></td>
    </tr>
    {{/each}}
</table>
</details>
{{/each}}